/* 改变主题色变量 */
$--color-primary: #010d1e;
$--color-success: #858b7a;
$--color-danger: #ec4242;
$--color-info: #999999;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

/* 如遇到导出的变量值为 undefined 则本文件名需要改成 theme.module.scss */
:export {
    theme: $--color-primary;
}
